/Macrociclo-Presentación/build/
/Macrociclo-Presentación/dist/
/Macrociclo-Servicios/JavaApplication13/nbproject/private/
/Macrociclo-Servicios/Macrociclo-Servicios/nbproject/private/
/Macrociclo-Servicios/nbproject/private/
/Macrociclo-Servicios - copia/nbproject/private/
/Macrociclo-Persistencia/nbproject/private/
/Macrociclo-Persistencia/build/
/Macrociclo-Persistencia/dist/
